In [1]:
import pandas as pd

In [4]:
dados = pd.read_csv("dados_29051.csv")
dados = dados[dados["TipoTraco"] == 'N']
dados.drop("TipoTraco", axis = "columns", inplace=True)
dados.head()

,Unnamed: 0,CodigoReceita,Volume,TipoLancamento,QuantidadeAgua,ConsumoTotal,FCK,Rompimento7Dias,Rompimento28Dias,ResultadoEsperado
0,2781,23009051,8.0,B,1368.0,2480.0,25.0,20.66,29.42,43.601321
1,2782,23009051,8.0,B,1368.0,2480.0,25.0,21.54,32.70,43.601321
2,2785,23009051,8.0,B,1368.0,2480.0,25.0,18.46,28.26,43.601321
3,2786,23009051,8.0,B,1368.0,2480.0,25.0,19.59,30.59,43.601321
4,2787,23009051,8.0,B,1368.0,2480.0,25.0,NaN,NaN,43.601321

In [5]:
dados.to_csv("dados_29051_normais.csv")